<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonDomain" version="1.6.0.3" targetFramework="net451" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net451" />
  <package id="NEventStore.Serialization.Json" version="4.1.0.10" targetFramework="net451" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net451" />
</packages>